#form-container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px; // Adiciona um espaço entre os campos para melhorar a legibilidade
}

h3 {
  font-weight: lighter;
  color: #b0b0b0;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.form-group {
  width: calc(50% - 10px); // Configuração para que cada campo ocupe metade da largura do formulário
  margin-right: 10px;

  mat-label {
    font-weight: bold;
  }

  input.mat-input,
  mat-select,
  textarea.mat-input {
    width: 100%;
  }

  .mat-error {
    font-size: 11px; // Reduz o tamanho do texto das mensagens de erro
    margin-top: -5px;
    color: #d9534f;
  }

  &:last-child {
    margin-right: 0;
  }
}

.textarea {
  width: calc(100% - 16px); // Largura ajustada para ocupar duas colunas com espaçamento
  height: 120px;
}

.textarea:last-child {
  margin-right: 0;
}

button[type="submit"] {
  width: 100%;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;

  button {
    margin-top: 16px;
    width: calc(33.33% - 10px);
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .infos-rg {
    margin-bottom: 30px;
  }
}
