
<app-card-estatisticas [quantidadePacientes]="quantidadePacientes"></app-card-estatisticas>


<div class="title-container">
  <h1>INFORMAÇÕES RÁPIDAS DE PACIENTES</h1>
</div>

<div class="search-patient">
  <mat-form-field appearance="fill" class="search-input">
    <mat-label>Buscar paciente</mat-label>
    <input matInput placeholder="Buscar por nome, telefone ou email" type="text" [(ngModel)]="textoPesquisa">
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="pesquisarPacientes()">
    <mat-icon matSuffix>search</mat-icon>
    Buscar
  </button>
  <!-- <button mat-flat-button color="primary" (click)="mostrarTodos()">
    <mat-icon matSuffix>search</mat-icon>
    Todos pacientes
  </button> -->
</div>

<div class="cards-container">
  <app-card-info-pacientes *ngFor="let paciente of listaPacientesFiltro" [paciente]="paciente"></app-card-info-pacientes>
</div>