
<div class="container">

  <div class="buscar-paciente">
    <mat-form-field appearance="fill" class="input-busca">
      <mat-label>Buscar paciente</mat-label>
        <input id="input-busca" matInput placeholder="Buscar por nome, telefone ou email" type="text">
      </mat-form-field>
        <!-- [(ngModel)]="textoPesquisa -->
      <button mat-flat-button color="primary" (click)="pesquisarPacientes()">
        <mat-icon matSuffix>search</mat-icon>
        Buscar
      </button>
  </div>
      
  <form [formGroup]="consultaForm" (ngSubmit)="submitForm()">
      
    <mat-form-field class="form-group">
      <mat-label>Motivo da Consulta</mat-label>
      <input id="motivoConsulta" matInput type="text" formControlName="motivoConsulta" required minlength="8" maxlength="64">
    </mat-form-field>
  
    <mat-form-field class="form-group">
      <mat-label>Data da Consulta</mat-label>
      <input id="dataConsulta" matInput type="date" formControlName="dataConsulta" required>
    </mat-form-field>
  
    <mat-form-field class="form-group">
      <mat-label>Horário do Exame</mat-label>
      <input matInput type="time" id="dataExame" [ngxTimepicker]="picker" formControlName="horarioConsulta" placeholder="Horário do Exame">
      <ngx-material-timepicker #picker></ngx-material-timepicker>
    </mat-form-field>
  
    <mat-form-field class="form-group textarea">
      <mat-label>Descrição do Problema</mat-label>
      <textarea id="descricaoProblema" matInput formControlName="descricaoProblema" required minlength="16" maxlength="1024"></textarea>
    </mat-form-field>
  
    <mat-form-field class="form-group" >
      <mat-label>Medicação Receitada</mat-label>
      <input id="medicacaoReceitada" matInput type="text" formControlName="medicacaoReceitada">
    </mat-form-field>
  
    <mat-form-field class="form-group textarea">
      <mat-label>Dosagem e Precauções</mat-label>
      <textarea id="dosagemPrecaucoes" matInput formControlName="dosagemPrecaucoes" required minlength="16" maxlength="256"></textarea>
    </mat-form-field>
  
    <div class="buttons-container">
      <button mat-button type="button" class="edit-button" [disabled]="!consultaForm.valid">Editar</button>
      <button mat-button type="button" class="delete-button" [disabled]="!consultaForm.valid">Deletar</button>
      <button mat-raised-button type="submit" class="save-button" [disabled]="!consultaForm.valid">Salvar</button>
    </div>
  </form>

</div>  

