<p>cadastro-consulta works!</p>

<form [formGroup]="consultaForm" (ngSubmit)="submitForm()">
  <!-- Busca de Paciente -->
  <mat-form-field class="form-group">
    <mat-label>Buscar Paciente</mat-label>
    <input matInput type="text" formControlName="pacienteSearch" placeholder="Digite o nome do paciente">
    <button mat-button matSuffix mat-icon-button aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <!-- Formulário para cadastro de consulta -->
  <mat-card class="consulta-card">
    <mat-card-content>
      <mat-form-field class="form-group">
        <mat-label>Motivo da Consulta</mat-label>
        <input matInput type="text" formControlName="motivoConsulta" required minlength="8" maxlength="64">
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Data da Consulta</mat-label>
        <input matInput type="date" formControlName="dataConsulta" required [value]="getCurrentTime">
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Horário da Consulta</mat-label>
        <input matInput type="time" formControlName="horarioConsulta" required [value]="getCurrentTime">
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Descrição do Problema</mat-label>
        <textarea matInput formControlName="descricaoProblema" required minlength="16" maxlength="1024"></textarea>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Medicação Receitada</mat-label>
        <input matInput type="text" formControlName="medicacaoReceitada">
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Dosagem e Precauções</mat-label>
        <textarea matInput formControlName="dosagemPrecaucoes" required minlength="16" maxlength="256"></textarea>
      </mat-form-field>

      <!-- Botões -->
      <div class="buttons-container">
        <button mat-button type="button" class="edit-button" [disabled]="!consultaForm.valid">Editar</button>
        <button mat-button type="button" class="delete-button" [disabled]="!consultaForm.valid">Deletar</button>
        <button mat-raised-button type="submit" class="save-button" [disabled]="!consultaForm.valid">Salvar</button>
      </div>
    </mat-card-content>
  </mat-card>
</form>

