<div class="form-container">
  
    <form (ngSubmit)="submit()" [formGroup]="loginForm">

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
      </mat-form-field>

      <br>
    
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>

  </form>


  <button mat-raised-button class="btn-submit">Enviar</button>
  <button mat-raised-button (click)="openDialog()">Criar conta</button>

  <button mat-raised-button class="btn-forgot-password" (click)="forgotPassword()">Esqueceu sua senha?</button>

</div>